In [1]:
import pandas as pd

Procesamiento Temperatura

In [9]:
df_TP = pd.read_csv('estaciones metereologicas con empresa distribuidora de energia.csv', dtype=str)
df_TP['anio'] = pd.to_numeric(df_TP['anio'], errors='coerce')

# Elimina filas donde 'anio' es NaN después de la conversión (si las hubiera)
df_TP.dropna(subset=['anio'], inplace=True)
df_filtrado = df_TP[(df_TP['anio'] >= 2000) & (df_TP['anio'] <= 2023)]

In [5]:
df_filtrado

,Estacion,NombreEstacion,longitud2,latitud2,altitud,anio,ene,feb,mar,abr,...,ago,sep,oct,nov,dic,FID,IDSISDAT,Arco_Nombr,Empresa,Regional
44,M0153,MUISNE,-80.0209,0.6096,5,2000,25,25.3,25.6,26.2,...,23.7,23.3,24,24,24.7,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas
45,M0153,MUISNE,-80.0209,0.6096,5,2001,25.2,26.2,26.4,26.1,...,23.8,23.4,23.7,23.5,24.9,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas
46,M0153,MUISNE,-80.0209,0.6096,5,2002,25.6,26.1,26.8,26.7,...,23.6,23.7,24.8,24.7,25.3,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas
47,M0153,MUISNE,-80.0209,0.6096,5,2003,25.8,25.6,26.3,26.3,...,24.5,24.1,24.4,25.1,25.3,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas
48,M0153,MUISNE,-80.0209,0.6096,5,2004,26.1,26.2,26.2,26,...,23.9,24.2,24.8,25.3,25.3,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6451,M0221,SAN CRISTOBAL-GALAPAGOS,-89.61430556,-0.904055556,6,2015,25.5,27.1,27.3,27.4,...,24.1,24.4,25.2,25.9,26.8,NaN,NaN,NaN,NaN,NaN
6452,M0221,SAN CRISTOBAL-GALAPAGOS,-89.61430556,-0.904055556,6,2016,26.8,27.8,27.7,27,...,22.8,22.9,23.1,24.4,NaN,NaN,NaN,NaN,NaN,NaN
6453,M0221,SAN CRISTOBAL-GALAPAGOS,-89.61430556,-0.904055556,6,2017,26,26.8,24.4,23,...,22.1,23.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6454,M0221,SAN CRISTOBAL-GALAPAGOS,-89.61430556,-0.904055556,6,2018,25.2,26,26.7,25.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6470,M0228,PUNA,-79.90138889,-2.734166667,45,2013,23.9,24.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
id_vars = [col for col in df_filtrado.columns if col not in ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 
                                                    'jul', 'ago', 'sep', 'oct', 'nov', 'dic']]

# Convertir de formato ancho a largo
df_long = pd.melt(df_filtrado, 
                  id_vars=id_vars, 
                  value_vars=['ene', 'feb', 'mar', 'abr', 'may', 'jun', 
                             'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
                  var_name='mes_nombre', 
                  value_name='temperatura')

# Crear un diccionario de mapeo para los códigos de mes
mes_codigo = {
    'ene': 1, 'feb': 2, 'mar': 3, 'abr': 4, 'may': 5, 'jun': 6,
    'jul': 7, 'ago': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dic': 12
}
# Agregar la columna de código de mes
df_long['mes_codigo'] = df_long['mes_nombre'].map(mes_codigo)

# Reorganizar las columnas si es necesario
# Poner mes_nombre y mes_codigo al principio después de las columnas identificadoras principales

                
df_long['temperatura'] = pd.to_numeric(df_long['temperatura'], errors='coerce')

In [7]:
df_long.head()

,Estacion,NombreEstacion,longitud2,latitud2,altitud,anio,FID,IDSISDAT,Arco_Nombr,Empresa,Regional,mes_nombre,temperatura,mes_codigo
0,M0153,MUISNE,-80.0209,0.6096,5,2000,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas,ene,25.0,1
1,M0153,MUISNE,-80.0209,0.6096,5,2001,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas,ene,25.2,1
2,M0153,MUISNE,-80.0209,0.6096,5,2002,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas,ene,25.6,1
3,M0153,MUISNE,-80.0209,0.6096,5,2003,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas,ene,25.8,1
4,M0153,MUISNE,-80.0209,0.6096,5,2004,2,72,CNEL- Esmeraldas,CNEL,Esmeraldas,ene,26.1,1

In [8]:
df_promedio = df_long.groupby(['anio', 'mes_nombre', 'mes_codigo','IDSISDAT'])['temperatura'].mean().round(2).reset_index()
df_promedio.to_csv('promedio_temperatura_mensual.csv', index=False)

In [16]:
df_promedio_temp = pd.read_csv('promedio_temperatura_mensual.csv')

In [14]:
df_promedio_temp['temperatura'] = df_promedio_temp['temperatura'].fillna(
    df_promedio_temp.groupby(['IDSISDAT', 'mes_codigo'])['temperatura'].transform('mean')
)

In [3]:
df_promedio_temp

      anio mes_nombre  mes_codigo  IDSISDAT  temperatura
0     2000        abr           4        11        16.71
1     2000        abr           4       130        26.80
2     2000        abr           4       134        26.13
3     2000        abr           4       136        25.40
4     2000        abr           4       142        14.11
...    ...        ...         ...       ...          ...
4123  2019        sep           9       192          NaN
4124  2019        sep           9       193        16.50
4125  2019        sep           9        30          NaN
4126  2019        sep           9        35        13.90
4127  2019        sep           9        87        24.30

[4128 rows x 5 columns]

In [ ]:
import numpy as np

# 1. Obtener los valores únicos de empresas
empresas = df_promedio_temp['IDSISDAT'].unique()

# 2. Crear el rango completo de años y meses
años = range(2000, 2020)  # hasta 2019 incluido
meses = range(1, 13)

# 3. Crear todas las combinaciones posibles de empresa, año y mes
combinaciones = pd.MultiIndex.from_product(
    [empresas, años, meses],
    names=['IDSISDAT', 'anio', 'mes_codigo']
).to_frame(index=False)

# 4. Hacer merge con el DataFrame original
df_completo = combinaciones.merge(df_promedio_temp, on=['IDSISDAT', 'anio', 'mes_codigo'], how='left')

In [8]:
df_completo

      IDSISDAT  anio  mes_codigo mes_nombre  temperatura
0           11  2000           1        ene        16.77
1           11  2000           2        feb        16.46
2           11  2000           3        mar        16.48
3           11  2000           4        abr        16.71
4           11  2000           5        may        16.23
...        ...   ...         ...        ...          ...
4315        87  2019           8        ago        23.50
4316        87  2019           9        sep        24.30
4317        87  2019          10        oct        24.50
4318        87  2019          11        nov        25.20
4319        87  2019          12        dic          NaN

[4320 rows x 5 columns]

In [19]:
df_completo['fecha'] = pd.to_datetime(df_completo['anio'].astype(str) + '-' + df_completo['mes_codigo'].astype(str) + '-01')
# 2. Ordenar por fecha
def interpolar_temperatura(grupo):
    grupo = grupo.set_index('fecha')
    grupo['temperatura'] = grupo['temperatura'].interpolate(method='time')  # usa distancia de fechas
    grupo = grupo.reset_index()
    return grupo

df_completo = df_completo.groupby('IDSISDAT').apply(interpolar_temperatura).reset_index(drop=True)

C:\Users\mota1\AppData\Local\Temp\ipykernel_37456\2523020521.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_completo = df_completo.groupby('IDSISDAT').apply(interpolar_temperatura).reset_index(drop=True)

In [20]:
df_completo

          fecha  IDSISDAT  anio  mes_codigo mes_nombre  temperatura
0    2000-01-01        11  2000           1        ene        16.77
1    2000-02-01        11  2000           2        feb        16.46
2    2000-03-01        11  2000           3        mar        16.48
3    2000-04-01        11  2000           4        abr        16.71
4    2000-05-01        11  2000           5        may        16.23
...         ...       ...   ...         ...        ...          ...
4315 2019-08-01       193  2019           8        ago        15.50
4316 2019-09-01       193  2019           9        sep        16.50
4317 2019-10-01       193  2019          10        oct        16.50
4318 2019-11-01       193  2019          11        nov        17.20
4319 2019-12-01       193  2019          12        dic        17.20

[4320 rows x 6 columns]

In [22]:
df_completo.to_csv('promedio_temperatura_mensual_sin_nan.csv', index=False)

Preprocesamiento precipitacion

In [9]:
df_P = pd.read_csv('estaciones meteorologicas precipitacion - distribuidoras energia.csv', dtype=str)
df_P['anio'] = pd.to_numeric(df_P['anio'], errors='coerce')

# Elimina filas donde 'anio' es NaN después de la conversión (si las hubiera)
df_P.dropna(subset=['anio'], inplace=True)
df_filtrado_P = df_P[(df_P['anio'] >= 2000) & (df_P['anio'] <= 2023)]

id_vars_P = [col for col in df_filtrado.columns if col not in ['ene', 'feb', 'mar', 'abr', 'may', 'jun', 
                                                    'jul', 'ago', 'sep', 'oct', 'nov', 'dic']]

# Convertir de formato ancho a largo
df_long_P = pd.melt(df_filtrado_P, 
                  id_vars=id_vars_P, 
                  value_vars=['ene', 'feb', 'mar', 'abr', 'may', 'jun', 
                             'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
                  var_name='mes_nombre', 
                  value_name='precipitacion')

# Crear un diccionario de mapeo para los códigos de mes
mes_codigo = {
    'ene': 1, 'feb': 2, 'mar': 3, 'abr': 4, 'may': 5, 'jun': 6,
    'jul': 7, 'ago': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dic': 12
}

# Agregar la columna de código de mes
df_long_P['mes_codigo'] = df_long_P['mes_nombre'].map(mes_codigo)

# Reorganizar las columnas si es necesario
# Poner mes_nombre y mes_codigo al principio después de las columnas identificadoras principales

                
df_long_P['precipitacion'] = pd.to_numeric(df_long_P['precipitacion'], errors='coerce')

In [30]:
df_promedio_P = df_long_P.groupby(['anio', 'mes_nombre', 'mes_codigo','IDSISDAT'])['precipitacion'].mean().round(2).reset_index()
df_promedio_P.to_csv('promedio_precipitacion_mensual.csv', index=False)

In [23]:
df_promedio_P = pd.read_csv('promedio_precipitacion_mensual.csv')

In [18]:
df_promedio_P['precipitacion'] = df_promedio_P['precipitacion'].fillna(
    df_promedio_P.groupby(['IDSISDAT', 'mes_codigo'])['precipitacion'].transform('mean')
)

In [27]:
df_completo_preci = combinaciones.merge(df_promedio_P, on=['IDSISDAT', 'anio', 'mes_codigo'], how='left')

In [28]:
df_completo_preci

      IDSISDAT  anio  mes_codigo mes_nombre  precipitacion
0           11  2000           1        ene         149.89
1           11  2000           2        feb         185.98
2           11  2000           3        mar         170.62
3           11  2000           4        abr         251.01
4           11  2000           5        may         412.82
...        ...   ...         ...        ...            ...
4315        87  2019           8        ago           0.80
4316        87  2019           9        sep          23.40
4317        87  2019          10        oct           5.00
4318        87  2019          11        nov          99.50
4319        87  2019          12        dic            NaN

[4320 rows x 5 columns]

In [29]:
df_completo_preci['fecha'] = pd.to_datetime(df_completo_preci['anio'].astype(str) + '-' + df_completo_preci['mes_codigo'].astype(str) + '-01')
# 2. Ordenar por fecha
def interpolar_temperatura(grupo):
    grupo = grupo.set_index('fecha')
    grupo['precipitacion'] = grupo['precipitacion'].interpolate(method='time')  # usa distancia de fechas
    grupo = grupo.reset_index()
    return grupo

df_completo_preci = df_completo_preci.groupby('IDSISDAT').apply(interpolar_temperatura).reset_index(drop=True)

C:\Users\mota1\AppData\Local\Temp\ipykernel_37456\4059307644.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_completo_preci = df_completo_preci.groupby('IDSISDAT').apply(interpolar_temperatura).reset_index(drop=True)

In [30]:
df_completo_preci.to_csv('promedio_precipitacion_mensual_sin_nan.csv', index=False)

Interpolacion del PIB trimestral

In [9]:
df = pd.read_excel('4.5.2-Serie_histórica-2023 (1).xlsx')
df

,Fecha,Pib_real,PIB nom trimestral,Variación interanual \nÍndice de volumen encadenado,Variación trimestral \nÍndice de volumen encadenado
0,2000.I,1.252078e+07,3.595761e+06,NaN,NaN
1,2000.II,1.284290e+07,4.197086e+06,NaN,2.572714
2,2000.III,1.333052e+07,4.752335e+06,NaN,3.796815
3,2000.IV,1.346383e+07,4.985503e+06,NaN,1.000044
4,2001.I,1.339532e+07,5.534728e+06,6.984709,-0.508891
...,...,...,...,...,...
91,2022.IV,2.875298e+07,2.944164e+07,2.742961,-0.986137
92,2023.I,2.919842e+07,2.955986e+07,4.600125,1.549199
93,2023.II,2.963764e+07,3.027509e+07,4.995238,1.504277
94,2023.III,2.924404e+07,2.984235e+07,0.704887,-1.328053
95,2023.IV,2.853755e+07,2.916753e+07,-0.749225,-2.415832

In [24]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.interpolate import interp1d

# Función para procesar el dataset del PIB trimestral y generar interpolación mensual
def procesar_pib_trimestral(df):
    
    # 1. Preparar el dataset original
    df_original = df.copy()

    
    # Convertir la columna PIB a numérico (remover comas si existen)
    if df_original['Pib_real'].dtype == 'object':
        df_original['Pib_real'] = df_original['Pib_real'].str.replace(',', '').astype(float)
    
    # 2. Procesar las fechas trimestrales y convertir a formato datetime
    def convertir_fecha_trimestral(fecha_str):
        """Convierte formato '2000.I' a datetime del primer mes del trimestre"""
        año, trimestre = fecha_str.split('.')
        año = int(año)
        
        # Mapear trimestre a mes
        trimestre_a_mes = {'I': 1, 'II': 4, 'III': 7, 'IV': 10}
        mes = trimestre_a_mes[trimestre]
        
        return datetime(año, mes, 1)
    
    # Aplicar conversión de fechas
    df_original['fecha_datetime'] = df_original['Fecha'].apply(convertir_fecha_trimestral)
    
    # 3. Crear dataset mensual completo (2000-2023)
    fecha_inicio = datetime(2000, 1, 1)
    fecha_fin = datetime(2023, 12, 1)
    
    # Generar todas las fechas mensuales
    fechas_mensuales = pd.date_range(start=fecha_inicio, end=fecha_fin, freq='MS')
    
    # Crear DataFrame mensual base
    df_mensual = pd.DataFrame({
        'fecha': fechas_mensuales
    })
    
    # Agregar columnas de año, mes_nombre y mes_id
    df_mensual['anio'] = df_mensual['fecha'].dt.year
    df_mensual['mes_nombre'] = df_mensual['fecha'].dt.month_name()
    df_mensual['mes_id'] = df_mensual['fecha'].dt.month  # Enero=1, Febrero=2, ..., Diciembre=12
    
    # 4. Realizar interpolación
    # Preparar datos para interpolación
    fechas_trimestrales_num = [d.timestamp() for d in df_original['fecha_datetime']]
    pib_trimestral = df_original['Pib_real'].values
    
    f_interpolacion = interp1d(fechas_trimestrales_num, pib_trimestral, 
                              kind='cubic', bounds_error=False, fill_value='extrapolate')    
    fechas_mensuales_num = [d.timestamp() for d in df_mensual['fecha']]
    pib_mensual_interpolado = f_interpolacion(fechas_mensuales_num)
    
    df_mensual['PIB_mensual_interpolado'] = pib_mensual_interpolado
    
    # 5. Agregar datos trimestrales originales donde corresponda
    df_mensual['PIB_trimestral_original'] = np.nan
    df_mensual['es_dato_trimestral'] = False
    
    # Marcar y llenar datos trimestrales originales
    for _, row in df_original.iterrows():
        fecha_trimestral = row['fecha_datetime']
        mask = df_mensual['fecha'] == fecha_trimestral
        if mask.any():
            df_mensual.loc[mask, 'PIB_trimestral_original'] = row['Pib_real']
            df_mensual.loc[mask, 'es_dato_trimestral'] = True
    
    # 6. Formatear el DataFrame final
    df_final = df_mensual.copy()
    df_final['fecha_str'] = df_final['fecha'].dt.strftime('%Y-%m')
    
    # Reordenar columnas
    columnas_finales = [
        'fecha_str', 'fecha', 'anio', 'mes_nombre', 'mes_id',
        'PIB_mensual_interpolado', 'PIB_trimestral_original', 'es_dato_trimestral'
    ]
    df_final = df_final[columnas_finales]
    
    # Redondear valores PIB
    df_final['PIB_mensual_interpolado'] = df_final['PIB_mensual_interpolado'].round(2)
    
    return df_final

# Función para mostrar estadísticas del resultado
def mostrar_estadisticas(df_resultado):
    """Muestra estadísticas del dataset procesado"""
    print("=== ESTADÍSTICAS DEL DATASET PROCESADO ===")
    print(f"Total de registros mensuales: {len(df_resultado)}")
    print(f"Período: {df_resultado['fecha'].min().strftime('%Y-%m')} a {df_resultado['fecha'].max().strftime('%Y-%m')}")
    print(f"Datos trimestrales originales: {df_resultado['es_dato_trimestral'].sum()}")
    print(f"Datos interpolados: {(~df_resultado['es_dato_trimestral']).sum()}")
    print(f"PIB mínimo: {df_resultado['PIB_mensual_interpolado'].min():,.0f}")
    print(f"PIB máximo: {df_resultado['PIB_mensual_interpolado'].max():,.0f}")
    print("\n=== PRIMEROS 10 REGISTROS ===")
    print(df_resultado.head(10).to_string(index=False))
    print("\n=== ÚLTIMOS 10 REGISTROS ===")
    print(df_resultado.tail(10).to_string(index=False))

# Ejemplo de uso:
# df_resultado = procesar_pib_trimestral(df)  # df es tu DataFrame original
# mostrar_estadisticas(df_resultado)

# Para ver solo datos trimestrales originales:
# datos_trimestrales = df_resultado[df_resultado['es_dato_trimestral'] == True]
# print(datos_trimestrales)

# Para ver solo datos interpolados:
# datos_interpolados = df_resultado[df_resultado['es_dato_trimestral'] == False]
# print(datos_interpolados)

In [25]:
df_resultado = procesar_pib_trimestral(df)

In [26]:
df_resultado

,fecha_str,fecha,anio,mes_nombre,mes_id,PIB_mensual_interpolado,PIB_trimestral_original,es_dato_trimestral
0,2000-01,2000-01-01,2000,January,1,12520778.69,1.252078e+07,True
1,2000-02,2000-02-01,2000,February,2,12571089.14,NaN,False
2,2000-03,2000-03-01,2000,March,3,12681587.01,NaN,False
3,2000-04,2000-04-01,2000,April,4,12842902.53,1.284290e+07,True
4,2000-05,2000-05-01,2000,May,5,13017566.86,NaN,False
...,...,...,...,...,...,...,...,...
283,2023-08,2023-08-01,2023,August,8,28997506.47,NaN,False
284,2023-09,2023-09-01,2023,September,9,28748809.23,NaN,False
285,2023-10,2023-10-01,2023,October,10,28537553.30,2.853755e+07,True
286,2023-11,2023-11-01,2023,November,11,28382183.06,NaN,False
287,2023-12,2023-12-01,2023,December,12,28323859.11,NaN,False

In [27]:
df_pib_interpolado = df_resultado[['anio','mes_id', 'PIB_mensual_interpolado']]
df_pib_interpolado.to_csv('pib_interpolado_mensual.csv', index=False)

Unir xls consumo energetico

In [17]:
import pandas as pd
import glob
import os
import re

# ---------------------------------------------------------------------------
# 1. CONFIGURACIÓN: ¡AJUSTA ESTAS VARIABLES SEGÚN TUS NECESIDADES!
# ---------------------------------------------------------------------------
# El script asumirá que los archivos .xls están en el mismo directorio que este script.
# PATRON_DE_ARCHIVOS: Patrón para encontrar tus archivos Excel.
PATRON_DE_ARCHIVOS = '*.xlsx'  # Para todos los archivos .xls en el directorio actual
# PATRON_DE_ARCHIVOS = 'Reporte_Anual_*.xls' # Ejemplo para nombres más específicos

# NOMBRE_COLUMNA_ANIO_EN_XLS: Nombre de la columna que contiene el año DENTRO de los archivos Excel.
NOMBRE_COLUMNA_ANIO_EN_XLS = 'anio'  # ¡AJUSTA ESTO si el nombre es diferente!

# EXTRAER_ANIO_DEL_NOMBRE_ARCHIVO:
# True: si la columna de año NO está en los Excel y se debe obtener del nombre del archivo.
# False: si la columna de año YA EXISTE dentro de cada Excel.
EXTRAER_ANIO_DEL_NOMBRE_ARCHIVO = False  # ¡AJUSTA ESTO!

# NOMBRE_HOJA_EXCEL: Nombre o índice de la hoja de Excel a leer de cada archivo.
# - 0 para la primera hoja.
# - 'NombreDeLaHoja' si conoces el nombre.
# - None para leer todas las hojas (devolvería un diccionario de DataFrames por archivo,
#   lo que requeriría un manejo adicional para combinarlos si esa es la intención).
#   Para una unión simple de tablas, es mejor que todas estén en la misma hoja con el mismo nombre/índice.
NOMBRE_HOJA_EXCEL = 0  # Lee la primera hoja por defecto. ¡AJUSTA SI ES NECESARIO!

# NOMBRE_ARCHIVO_SALIDA: Nombre para el archivo combinado.
# Puedes guardarlo como .xlsx o .csv
NOMBRE_ARCHIVO_SALIDA_EXCEL = 'datos_historicos_combinados.xlsx'
# NOMBRE_ARCHIVO_SALIDA_CSV = 'datos_historicos_combinados.csv'

# ---------------------------------------------------------------------------

# Obtener la lista de archivos Excel en el directorio actual que coincidan con el patrón
# os.getcwd() obtiene el directorio de trabajo actual.
directorio_actual = os.getcwd()
ruta_busqueda = os.path.join(directorio_actual, PATRON_DE_ARCHIVOS)
todos_los_archivos = glob.glob(ruta_busqueda)

if not todos_los_archivos:
    print(f"No se encontraron archivos Excel ('{PATRON_DE_ARCHIVOS}') en el directorio: '{directorio_actual}'.")
    print("Por favor, verifica el patrón y asegúrate de que los archivos estén presentes.")
else:
    print(f"Archivos Excel encontrados ({len(todos_los_archivos)}):")
    for f_path in todos_los_archivos[:5]:  # Muestra los primeros 5 para verificar
        print(f" - {os.path.basename(f_path)}")
    if len(todos_los_archivos) > 5:
        print(f" - ... y {len(todos_los_archivos) - 5} más.")

    lista_de_dataframes = []

    for ruta_archivo in todos_los_archivos:
        nombre_archivo = os.path.basename(ruta_archivo)
        print(f"\nProcesando archivo: {nombre_archivo}...")
        try:
            # Leer el archivo Excel. Especifica la hoja si es necesario.
            # El motor 'xlrd' se usará automáticamente para .xls
            df_temporal = pd.read_excel(ruta_archivo, sheet_name=NOMBRE_HOJA_EXCEL)

            # --- MANEJO DE LA INFORMACIÓN DEL AÑO ---
            if EXTRAER_ANIO_DEL_NOMBRE_ARCHIVO:
                # Intenta encontrar 4 dígitos consecutivos (comúnmente un año)
                match = re.search(r'(\d{4})', nombre_archivo)
                if match:
                    anio_extraido = int(match.group(1))
                    # Añade la columna de año (o el nombre que hayas configurado)
                    df_temporal[NOMBRE_COLUMNA_ANIO_EN_XLS] = anio_extraido
                    print(f"  Año {anio_extraido} extraído del nombre de archivo y añadido como columna '{NOMBRE_COLUMNA_ANIO_EN_XLS}'.")
                else:
                    print(f"  ADVERTENCIA: No se pudo extraer el año del nombre de archivo: {nombre_archivo}. Este archivo podría no tener la columna de año.")
            else:
                # El año ya debería estar como columna en el Excel
                if NOMBRE_COLUMNA_ANIO_EN_XLS not in df_temporal.columns:
                    print(f"  ADVERTENCIA: La columna de año '{NOMBRE_COLUMNA_ANIO_EN_XLS}' no se encontró en {nombre_archivo} (Hoja: {NOMBRE_HOJA_EXCEL}).")
                    print(f"  Columnas encontradas: {df_temporal.columns.tolist()}")
                else:
                    print(f"  La columna de año '{NOMBRE_COLUMNA_ANIO_EN_XLS}' ya existe en el archivo.")
                    # Opcional: convertir a tipo entero si es necesario
                    try:
                        df_temporal[NOMBRE_COLUMNA_ANIO_EN_XLS] = pd.to_numeric(df_temporal[NOMBRE_COLUMNA_ANIO_EN_XLS], errors='coerce').astype('Int64')
                    except Exception as e_astype:
                        print(f"    No se pudo convertir la columna '{NOMBRE_COLUMNA_ANIO_EN_XLS}' a entero: {e_astype}")
            
            lista_de_dataframes.append(df_temporal)
        except FileNotFoundError:
            print(f"  ERROR: El archivo {nombre_archivo} no fue encontrado en la ruta especificada.")
        except ImportError as e_import:
             print(f"  ERROR: Necesitas instalar una biblioteca para leer archivos Excel. Para .xls, instala 'xlrd': pip install xlrd. Detalle: {e_import}")
             break # Detener si falta una dependencia crucial
        except Exception as e:
            print(f"  ERROR al leer o procesar el archivo {nombre_archivo} (Hoja: {NOMBRE_HOJA_EXCEL}): {e}")

    if lista_de_dataframes:
        print("\nConcatenando todos los DataFrames...")
        df_combinado = pd.concat(lista_de_dataframes, ignore_index=True, join='outer')

        print("\n--- Primeras filas del DataFrame combinado ---")
        print(df_combinado.head())
        print("\n--- Información del DataFrame combinado ---")
        df_combinado.info()
        print(f"\nDimensiones del DataFrame combinado (filas, columnas): {df_combinado.shape}")

        # Opcional: Verificar duplicados
        num_duplicados = df_combinado.duplicated().sum()
        if num_duplicados > 0:
            print(f"\nADVERTENCIA: Se encontraron {num_duplicados} filas duplicadas exactas.")
            # df_combinado.drop_duplicates(inplace=True, ignore_index=True) # Descomentar para eliminar
        else:
            print("\nNo se encontraron filas duplicadas exactas.")

        # --- GUARDAR EL DATAFRAME COMBINADO ---
        try:
            # Guardar como archivo Excel (.xlsx, que es más moderno)
            df_combinado.to_excel(os.path.join(directorio_actual, NOMBRE_ARCHIVO_SALIDA_EXCEL), index=False)
            print(f"\n¡Éxito! DataFrame combinado guardado como: '{os.path.join(directorio_actual, NOMBRE_ARCHIVO_SALIDA_EXCEL)}'")

            # Opcionalmente, guardar también o en su lugar como CSV:
            # df_combinado.to_csv(os.path.join(directorio_actual, NOMBRE_ARCHIVO_SALIDA_CSV), index=False)
            # print(f"\n¡Éxito! DataFrame combinado guardado como: '{os.path.join(directorio_actual, NOMBRE_ARCHIVO_SALIDA_CSV)}'")
        except Exception as e:
            print(f"\nERROR al guardar el archivo combinado: {e}")
    else:
        print("\nNo se procesaron DataFrames, el DataFrame combinado está vacío o no se pudo crear.")

Archivos Excel encontrados (18):
 - 4.5.2-Serie_histórica-2023.xlsx
 - datos_historicos_combinados.xlsx
 - rpFacturacionTotal (1).xlsx
 - rpFacturacionTotal (10).xlsx
 - rpFacturacionTotal (11).xlsx
 - ... y 13 más.

Procesando archivo: 4.5.2-Serie_histórica-2023.xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en 4.5.2-Serie_histórica-2023.xlsx (Hoja: 0).
  Columnas encontradas: ['Fecha', 'PIB nom trimestral', 'Variación interanual \nÍndice de volumen encadenado', 'Variación trimestral \nÍndice de volumen encadenado']

Procesando archivo: datos_historicos_combinados.xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en datos_historicos_combinados.xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (1).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (1).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (10).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (10).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (11).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (11).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (12).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (12).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (13).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (13).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (14).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (14).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (15).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (15).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (2).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (2).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (3).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (3).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (4).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (4).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (5).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (5).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (6).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (6).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (7).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (7).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (8).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (8).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal (9).xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal (9).xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Procesando archivo: rpFacturacionTotal.xlsx...
  ADVERTENCIA: La columna de año 'anio' no se encontró en rpFacturacionTotal.xlsx (Hoja: 0).
  Columnas encontradas: ['IdEmpresa', 'Empresa', 'Año', 'IdMes', 'Mes', 'Grupo Consumo', 'Tipo Cliente', 'Clientes', 'Energía Facturada (MWh)', 'Facturación Servicio Eléctrico (USD)', 'Recaudación Servicio Eléctrico (USD)', 'Subsidio (USD)']

Concatenando todos los DataFrames...

--- Primeras filas del DataFrame combinado ---
      Fecha  PIB nom trimestral  \
0    2000.I        3.595761e+06
1   2000.II        4.197086e+06
2  2000.III        4.752335e+06
3   2000.IV        4.985503e+06
4    2001.I        5.534728e+06

   Variación interanual \nÍndice de volumen encadenado  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Variación trimestral \nÍndice de volumen encadenado  IdEmpresa Empresa  \
0                                                NaN          NaN     NaN
1                                                NaN          NaN     NaN
2                                                NaN          NaN     NaN
3                                                NaN          NaN     NaN
4                                                NaN          NaN     NaN

   Año  IdMes  Mes Grupo Consumo Tipo Cliente  Clientes  \
0  NaN    NaN  NaN           NaN          NaN       NaN
1  NaN    NaN  NaN           NaN          NaN       NaN
2  NaN    NaN  NaN           NaN          NaN       NaN
3  NaN    NaN  NaN           NaN          NaN       NaN
4  NaN    NaN  NaN           NaN          NaN       NaN

   Energía Facturada (MWh)  Facturación Servicio Eléctrico (USD)  \
0                      NaN                                   NaN
1                      NaN                                   NaN
2                      NaN                                   NaN
3                      NaN                                   NaN
4                      NaN                                   NaN

   Recaudación Servicio Eléctrico (USD)  Subsidio (USD)
0                                   NaN             NaN
1                                   NaN             NaN
2                                   NaN             NaN
3                                   NaN             NaN
4                                   NaN             NaN

--- Información del DataFrame combinado ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44992 entries, 0 to 44991
Data columns (total 16 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Fecha                                               96 non-null     object
 1   PIB nom trimestral                                  96 non-null     float64
 2   Variación interanual
Índice de volumen encadenado  0 non-null      float64
 3   Variación trimestral
Índice de volumen encadenado  0 non-null      float64
 4   IdEmpresa                                           44896 non-null  float64
 5   Empresa                                             44896 non-null  object
 6   Año                                                 44896 non-null  float64
 7   IdMes                                               44896 non-null  float64
 8   Mes                                                 44896 non-null  object
 9   Grupo Consumo                                       44896 non-null  object
 10  Tipo Cliente                                        44896 non-null  object
 11  Clientes                                            44896 non-null  float64
 12  Energía Facturada (MWh)                             44896 non-null  float64
 13  Facturación Servicio Eléctrico (USD)                44896 non-null  float64
 14  Recaudación Servicio Eléctrico (USD)                44896 non-null  float64
 15  Subsidio (USD)                                      44896 non-null  float64
dtypes: float64(11), object(5)
memory usage: 5.5+ MB

Dimensiones del DataFrame combinado (filas, columnas): (44992, 16)

ADVERTENCIA: Se encontraron 22448 filas duplicadas exactas.

¡Éxito! DataFrame combinado guardado como: 'c:\Users\mota1\OneDrive - ESCUELA SUPERIOR POLITECNICA DE CHIMBORAZO\Escritorio\Master\TFM\datasets\datos_historicos_combinados.xlsx'

In [10]:
df_consumo = pd.read_excel('datos_historicos_combinados.xlsx')

In [11]:
df_consumo_final = df_consumo[['IdEmpresa','Año', 'IdMes','Energía Facturada (MWh)']]
df_consumo_energia = df_consumo.groupby(['IdEmpresa', 'Año', 'IdMes'], as_index=False).agg({
    'Energía Facturada (MWh)': 'sum',
})

In [12]:
df_consumo_final

       IdEmpresa   Año  IdMes  Energía Facturada (MWh)
0             26  2009      4              9292.105000
1            178  2023      8             13162.495770
2            178  2023      9              4057.145060
3            178  2023     10              4271.622700
4            178  2023     10              5796.282100
...          ...   ...    ...                      ...
44891         87  2024      3             42922.687870
44892         87  2024      7             32472.838290
44893         87  2024      7             36653.762682
44894         87  2024      8             53243.869600
44895         87  2024     12              7824.341160

[44896 rows x 4 columns]

Procesamiento de IPC

In [25]:
df_ipc = pd.read_csv('DATOS_CANASTA_BASICA.csv', sep=';')

In [27]:
meses_dict = {
    'Enero': 1,
    'Febrero': 2,
    'Marzo': 3,
    'Abril': 4,
    'Mayo': 5,
    'Junio': 6,
    'Julio': 7,
    'Agosto': 8,
    'Septiembre': 9,
    'Octubre': 10,
    'Noviembre': 11,
    'Diciembre': 12
}

# Crear nueva columna con el número del mes
df_ipc['IdMes'] = df_ipc['MES'].map(meses_dict)

df_ipc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 8 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   GOBIERNO                               384 non-null    object
 1   MES                                    384 non-null    object
 2   YEAR                                   384 non-null    int64
 3   COSTO_CANASTA                          384 non-null    object
 4   INGRESO_FAMILIAR_MENSUAL               384 non-null    object
 5   RESTRICCION_O_EXCEDENTE_EN_EL_CONSUMO  384 non-null    object
 6   RESTRICCION_EXCENDENTE_PORCENTUAL      384 non-null    object
 7   IdMes                                  383 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 24.1+ KB

In [28]:
df_ipc

,GOBIERNO,MES,YEAR,COSTO_CANASTA,INGRESO_FAMILIAR_MENSUAL,RESTRICCION_O_EXCEDENTE_EN_EL_CONSUMO,RESTRICCION_EXCENDENTE_PORCENTUAL,IdMes
0,Roldos-Hurtado,Noviembre,1982,"401,57","401,58","-0,02",0,11.0
1,Roldos-Hurtado,Julio,1983,"358,84","301,57","57,28","0,1596",7.0
2,Leon Febres Cordero,Enero,1984,"197,3","174,36","22,94","0,1163",1.0
3,Leon Febres Cordero,Marzo,1985,"189,9","172,36","17,54","0,0924",3.0
4,Leon Febres Cordero,Enero,1986,"203,58","186,99","16,59","0,0815",1.0
...,...,...,...,...,...,...,...,...
379,Guillermo Lasso,Marzo,2022,"725,27","793,33","-68,06","-0,0938",3.0
380,Guillermo Lasso,Abril,2022,"728,68","793,33","-64,66","-0,0887",4.0
381,Guillermo Lasso,Mayo,2022,"735,15","793,33","-58,19","-0,0792",5.0
382,Guillermo Lasso,Junio,2022,"751,04","793,33","-42,3","-5,63%",6.0
383,Guillermo Lasso,Julio,2022,"753,62","793,33","-39,71","-5,27%",7.0

Unir todos los datasets, para el dataset final para entrenar el modelo de prediccionde consumo energetico con factores climaticos y economicos

In [31]:
df_consumo = pd.read_csv('df_consumo_energia.csv')
df_pib_mensual = pd.read_csv('pib_interpolado_mensual.csv')
df_promedio_temp = pd.read_csv('promedio_temperatura_mensual_sin_nan.csv')
df_promedio_prec = pd.read_csv('promedio_precipitacion_mensual_sin_nan.csv')
df_ipc = pd.read_csv('df_ipc.csv')

In [32]:
filas_a_duplicar = df_promedio_temp[df_promedio_temp['IDSISDAT'] == 30].copy()

# Cambiar el valor de idsisdat a 17 en las duplicadas
filas_a_duplicar['IDSISDAT'] = 17

# Unir las filas duplicadas al DataFrame original
df_promedio_temp = pd.concat([df_promedio_temp, filas_a_duplicar], ignore_index=True)

In [33]:
filas_a_duplicar = df_promedio_prec[df_promedio_prec['IDSISDAT'] == 30].copy()

# Cambiar el valor de idsisdat a 17 en las duplicadas
filas_a_duplicar['IDSISDAT'] = 17

# Unir las filas duplicadas al DataFrame original
df_promedio_prec = pd.concat([df_promedio_prec, filas_a_duplicar], ignore_index=True)

In [34]:
# Unificar nombre de columnas para merge
df_promedio_temp.rename(columns={'anio': 'Año', 'mes_codigo': 'IdMes','IDSISDAT':'IdEmpresa'}, inplace=True)
df_promedio_prec.rename(columns={'anio': 'Año', 'mes_codigo': 'IdMes','IDSISDAT':'IdEmpresa'}, inplace=True)
df_pib_mensual.rename(columns={'anio': 'Año', 'mes_id': 'IdMes'}, inplace=True)
df_ipc.rename(columns={'YEAR': 'Año'}, inplace=True)

# Merge de todos los datasets
df = df_consumo.merge(df_promedio_temp[['Año', 'IdMes', 'IdEmpresa', 'temperatura']], on=['Año', 'IdMes', 'IdEmpresa'])
df = df.merge(df_promedio_prec[['Año', 'IdMes', 'IdEmpresa', 'precipitacion']], on=['Año', 'IdMes', 'IdEmpresa'])
df = df.merge(df_pib_mensual[['Año', 'IdMes', 'PIB_mensual_interpolado']], on=['Año', 'IdMes'])
df = df.merge(df_ipc[['Año', 'IdMes', 'COSTO_CANASTA','INGRESO_FAMILIAR_MENSUAL']], on=['Año', 'IdMes'])
df = df.dropna()
df

,IdEmpresa,Año,IdMes,Energía Facturada (MWh),temperatura,precipitacion,PIB_mensual_interpolado,COSTO_CANASTA,INGRESO_FAMILIAR_MENSUAL
0,11,2009,1,32904.522021,17.03,239.58,19048194.13,512.03,406.93
1,11,2009,2,32088.890585,16.18,178.15,19017244.53,513.27,406.93
2,11,2009,3,32373.116098,16.80,133.67,18989494.50,519.90,406.93
3,11,2009,4,33725.857730,16.83,221.99,18961052.71,522.76,406.93
4,11,2009,5,33032.727702,16.84,169.84,18936260.49,522.75,406.93
...,...,...,...,...,...,...,...,...,...
2484,193,2019,8,45583.533206,15.50,78.30,26825288.35,714.47,735.47
2485,193,2019,9,33226.287786,16.50,16.90,26765449.99,713.75,735.47
2486,193,2019,10,41599.970958,16.50,86.40,26915469.39,718.18,735.47
2487,193,2019,11,53800.564047,17.20,112.90,27303538.87,715.10,735.47
2488,193,2019,12,54441.202634,17.20,128.60,27461849.26,715.08,735.47

In [35]:
df.to_csv('df_dataset_unidos5.csv', index=False)

In [28]:
df

,IdEmpresa,Año,IdMes,Energía Facturada (MWh),temperatura,precipitacion,PIB_mensual_interpolado,COSTO_CANASTA,INGRESO_FAMILIAR_MENSUAL
0,11,2009,1,32904.522021,17.03,239.58,19048194.13,512.03,406.93
1,11,2009,2,32088.890585,16.18,178.15,19017244.53,513.27,406.93
2,11,2009,3,32373.116098,16.80,133.67,18989494.50,519.90,406.93
3,11,2009,4,33725.857730,16.83,221.99,18961052.71,522.76,406.93
4,11,2009,5,33032.727702,16.84,169.84,18936260.49,522.75,406.93
...,...,...,...,...,...,...,...,...,...
2554,193,2019,8,45583.533206,15.50,78.30,26825288.35,714.47,735.47
2555,193,2019,9,33226.287786,16.50,16.90,26765449.99,713.75,735.47
2556,193,2019,10,41599.970958,16.50,86.40,26915469.39,718.18,735.47
2557,193,2019,11,53800.564047,17.20,112.90,27303538.87,715.10,735.47
2558,193,2019,12,54441.202634,17.20,128.60,27461849.26,715.08,735.47

In [2]:
df = pd.read_csv('df_dataset_unidos3.csv')

In [8]:
display(df.groupby(['IdEmpresa', 'Año', 'IdMes']).sum())

                      Energía Facturada (MWh)  temperatura  precipitacion  \
IdEmpresa Año  IdMes
11        2009 1                 32904.522021        17.03         239.58
               2                 32088.890585        16.18         178.15
               3                 32373.116098        16.80         133.67
               4                 33725.857730        16.83         221.99
               5                 33032.727702        16.84         169.84
...                                       ...          ...            ...
193       2019 8                 45583.533206        15.50          78.30
               9                 33226.287786        16.50          16.90
               10                41599.970958        16.50          86.40
               11                53800.564047        17.20         112.90
               12                54441.202634        17.20         128.60

                      PIB_mensual_interpolado  COSTO_CANASTA  \
IdEmpresa Año  IdMes
11        2009 1                  19048194.13         512.03
               2                  19017244.53         513.27
               3                  18989494.50         519.90
               4                  18961052.71         522.76
               5                  18936260.49         522.75
...                                       ...            ...
193       2019 8                  26825288.35         714.47
               9                  26765449.99         713.75
               10                 26915469.39         718.18
               11                 27303538.87         715.10
               12                 27461849.26         715.08

                      INGRESO_FAMILIAR_MENSUAL
IdEmpresa Año  IdMes
11        2009 1                        406.93
               2                        406.93
               3                        406.93
               4                        406.93
               5                        406.93
...                                        ...
193       2019 8                        735.47
               9                        735.47
               10                       735.47
               11                       735.47
               12                       735.47

[2231 rows x 6 columns]